.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color:#ffff;
    position:sticky;
    top: 50px;
    border-radius: 5px;
   
    

}
.sideBarWrapper{
    padding: 20px;
    color: #555;

}
.sidBarMenu{
    margin-bottom: 10px;

}
.sideBarTitle{
    font-size: 15px;
    color: rgb(173, 173, 184);

}
.sidebarList{
    list-style: none;
    padding: 5px;
}
.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    
}
.sidebarListItem.active, 
.sidebarListItem:hover{
    background-color: rgb(240, 236, 236);
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}